body {
  margin:0;
}
#grid {
  display:grid;
  grid-template-columns: 300px 1fr;
}
/*타이틀*/
#container {
  position:relative;
  height: 150px;
  border-bottom: 8px solid pink;
  min-width:700px;
}
#logo img{
  padding-left:20px;
  padding-top:15px;
  width: 130px;
  display:inline;
  position:absolute;
}
h1 {
  padding: 37.5px 30px 37.5px 0px;
  text-align:center;
  letter-spacing: 7px;
  font-weight: bolder;
  color:pink;
  font-size: 35px;
  margin:0;
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}
/*타이틀*/

/*리스트*/
.list {
  border-right:5px solid pink;
  margin:0;
  padding:20px;
}
.list ul,li{
   padding:20px;
   color:pink;
}
.list a{
  text-decoration: none;
  color:pink;
  font-weight: bold;
}
.list a:visited {
  color:gray;
}
/*리스트*/

/*유튜브,가사*/
.maincon iframe{
  padding:20px;
}
.maincon p{
  text-align:center;
  width:900px;
  color:gray;
  padding:20px;
}
/*유튜브,가사*/

/*적응형*/
@media (max-width: 900px){
  #grid {
    display:block;
  }
  #container {
    height: 130px;
  }
  h1{
    padding: 35px 30px 35px 0px;
    font-size: 25px;
  }
  #logo img{
    padding: 20px 0px 0px 20px;
    width: 90px;
  }
  .list {
    border:none;
    margin:0;
    padding:10px;
  }
  .list ul,li{
    float:left;
    list-style-type:none;
    text-decoration:none;
    margin: 0;
    padding: 5px 10px 10px 10px;
  }

  .maincon iframe{
    width:100%;
  }
  .maincon p{
    text-align:center;
    width:100%;
    color:gray;
    padding:20px;
  }
}
/*적응형*/
